<span class="number-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <optgroup label="数字搜索条件">
      <option value="equals">=</option>
      <option value="gt">&gt;</option>
      <option value="gte">&ge;</option>
      <option value="lt">&lt;</option>
      <option value="lte">&le;</option>
    </optgroup>

    <optgroup label="一般搜索条件">
      <option value="exists">存在</option>
      <option value="notExists">不存在</option>
    </optgroup>
  </select>

  <!-- Range Fields -->
  <input data-ng-if="inputNeeded()"
    class="form-control"
    data-ng-model="rule.value"
    type="number"
    min="{{ guide.minimum }}"
    max="{{ guide.maximum }}">
</span>
