<div class="elastic-builder">
  <div class="filter-panels">
    <div class="list-group form-inline">
      <div
        data-ng-repeat="filter in filters"
        data-elastic-builder-chooser="filter"
        data-elastic-fields="data.fields"
        data-on-remove="removeChild($index)"
        data-depth="0"></div>
      <div class="list-group-item actions">
        <a class="btn btn-xs btn-primary" title="添加条件" data-ng-click="addRule()">
          添加条件
        </a>
        <a class="btn btn-xs btn-primary" title="添加条件组" data-ng-click="addGroup()">
          添加条件组
        </a>
      </div>
    </div>
  </div>
</div>
