<div class="elastic-builder-group">
  <h5>如果
    <select data-ng-model="group.subType" class="form-control">
      <option value="and">所有</option>
      <option value="or">任意</option>
    </select>
    条件满足
  </h5>
  <div
    data-ng-repeat="rule in group.rules"
    data-elastic-builder-chooser="rule"
    data-elastic-fields="elasticFields"
    data-depth="{{ +depth + 1 }}"
    data-on-remove="removeChild($index)"></div>

  <div class="list-group-item actions" data-ng-class="getGroupClassName()">
    <a class="btn btn-sm btn-primary" title="添加条件" data-ng-click="addRule()">
      添加条件
    </a>
    <a class="btn btn-sm btn-primary" title="添加条件组" data-ng-click="addGroup()">
      添加条件组
    </a>
  </div>
  <div class="group-action">
    <a class="btn btn-sm btn-danger remover" data-ng-click="onRemove()">
      删除
    </a>
  </div>
</div>
